# Dependencias (NUNCA se suben, son muy pesadas)
node_modules/

# Archivos de configuración local y secretos
.env
.env.local

# Carpetas de compilación (dist o build)
dist/
build/

# Archivos del sistema
.DS_Store
Thumbs.db