#main {
  position: relative;
  top: 500px;
}
.btn-purple {
  background-color: blueviolet;
  color: white;
}
.btn-purple:hover {
  background-color: darkorchid;
  color: white;
}
.bg-purple {
  background-color: blueviolet;
}
#hero {
  top: -500 px;
}

.text-pre-line {
  white-space: pre-line;
}
